* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --orange:#FF9C00;
    --hover-orange:#ffac27;
    --white: #ffffff;
    --grey: #282828;
    --light-grey: #DCDCDC;
    --tab-orange:#FFE0AF;
    --light-green: #B3F594;
    --red: #DD3A3A;
}
html{
    scroll-behavior: smooth;
}
input:focus{
    outline: none;
}
#nav {
    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(20px);
    
    position: sticky;
    z-index: 1000;
    /* display: block; */
}

#nav .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
#nav #nav-logo{
    width: 10vw;
}
#nav .nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 3vw;
    margin: 0px;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    /* color: #545454; */
  }
#nav .nav-items li a:hover{
    color: var(--orange);
    transition: 0.3s;
}
#nav-sign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* Foooter------------------------------ */

footer .text-small {
    font-size: 0.9rem;
  }
  footer img{
    width: 100%;
  }

  footer .sub-sec-title{
    color: var(--orange);
  }
  footer a:hover, a:focus  {
    text-decoration: none;
    color: var(--hover-orange);
  }
  
  footer .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  footer .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
    margin-top: 40px;
  }
  footer .contact-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }


/* Foooter------------------------------ */

.cus-btn{
    width: auto;
    height: 35px;
    padding: 0 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn:hover{
    background-color: var(--hover-orange);
    color: var(--white);
    border: 2px solid var(--hover-orange);

}
.primary{
    background-color: var(--orange);
    border: 2px solid var(--orange);
    color: var(--white);
}
.secondary{
    background-color: var(--white);
    border: 2px solid var(--orange);
    color: var(--orange);
}

/* Home page ----- */
.section{
    margin-top: 40px;
}
.section-header{
    margin-bottom: 30px;
}
.hero-sec .carousel-inner{
    border: 0px solid transparent;
    border-radius: 15px;
}
.hero-banner-content{
    height: 100%;
    padding: 15% 0px;
}

.primarycolor-text{
    color: var(--orange);
}
.hero-sec .hero-content{
    text-align: left;
}
.hero-sec .hero-content .search-bar{
    margin-left: 12px;
    height: 45px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);    
    border-radius: 100px;
    padding: 5px 5px 5px 18px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);    
    border-radius: 100px;
    padding: 5px 5px 5px 18px;
}
.search-bar .search{
    background-color: transparent;
    border: 0px;
    width: 100%;
    color: var(--grey);
    display: flex;
    justify-content: center;
}
.search-bar .search-btn{
    border-radius: 100px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
Footer .search-bar .search{
    color: var(--white);
}

/* -------------------------------------------------------------- */

#category-carousel .carousel-item{
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
}
g 
.horizontal-scroll .category{
    border: 0px solid transparent;
    border-radius: 15px;
    background-color: grey;
    height: 300px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    padding-top: 20px;
    /* width: 200px; */
}
/* -------------------------------------------------------------- */

.products .card{
    border: 1px solid transparent;
    margin-bottom: 20px;
}
.product-tile{
    border-radius: 15px;
    background-color: var(--white);
}

.products .card .card-img-top{
    border: 1px solid transparent;
    border-radius: 15px;
}
.products .card .btn{
    height: 35px;
    padding: 0 20px;
    border-radius: 100px;
}
.products .product-tile:hover {
    transition: 0.3s;
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.2));
}
.both-sides-margin-14{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 12px;
    margin-right: 12px;
}
.shops .card{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.2));
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px 15px;
    align-items: center;
    margin: 0 0 20px 0;
    width: 100%;
}
/* .shops .row .card + .card{
 margin-left: 20px;
} */
.shops .card .shop-profile{
    width: 60px;
    height: 60px;
    border: 1px solid var(--orange);
    border-radius: 100px;
}
.shops .card .text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shops .card .text .shop-name,.shops .card .text h6{
    margin: 0px;
}
.shops .carousel-indicators{
    position: relative;
    margin-top: 10px ;
}
.shops .carousel-indicators .indicate-line{
    /* position: relative; */
    /* margin-top: 20px; */
    background-color: var(--orange);
}
.deals .deal-tags{
    padding-left: 12px;
}
.deals .deal-tags li+li{
    margin-left: 10px;
}
.deals .deal-tags li{
    background-color: var(--tab-orange);
    border: 0px solid transparent;
    border-radius: 100px;
    color: var(--orange)
}
.deals .deal-tags .nav-link{
    color: var(--orange);
}
.deals .deal-tags .nav-link:hover{
    background-color: var(--hover-orange);
    color: var(--white);
    border-radius: 100px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    border-radius: 100px;
    background-color:var(--orange);
    color: var(--white);
}
.nav-link:hover, .nav-link:focus{
    color: var(--white);
}
.deals .card{
    margin-bottom: 20px;
}
.center-btn{
    text-align: center;
}
.explore-btn{
    color: var(--orange);
    cursor: pointer;
    
}
.ad-banner-2 .carousel-inner{
    height: 400px;
    border: 0px solid transparent;
    border-radius: 15px;
}
.ad-banner-1 .carousel-inner{
    height: 500px;
    border: 0px solid transparent;
}
.cat-sec .cat-tile{
    border: 0px solid transparent;
    border-radius: 15px;
}
.cat-tile img{
    width: 100%;
    object-fit:scale-down;
    border: 0px solid transparent;
    border-radius: 15px 15px 0 0;
}
.cat-sec .cat-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: linear-gradient(90deg, rgba(255, 157, 0, 0.55) 0%, rgba(254,127,23,0.55) 100%);
    border: 0px solid transparent;
    border-radius: 0 0 15px 15px;
}
.cat-sec .cat-text:hover{
    background: linear-gradient(90deg, rgba(255,156,0,1) 0%, rgba(254,127,23,1) 100%);
    transition: 0.3s;
}
.cat-text h4{
    margin: 0px;
}

.cat-sec .card .card-content{
    height: 300px;
    background-color: #545454;
    border: 0px solid transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
}
.hero2-sec .carousel-inner{
    border: 0px solid transparent;
    border-radius: 15px;
}
.hero2-sec .main-title, .hero2-sec p{
    color: var(--grey);
}
.products .cat-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.products .cat-panel .section-header{
    margin: 0px;
}

/*-----filter tools in shop online page----------*/
.filter-tool{
    background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding: 20px;
display: flex;
flex-direction: column;
height: fit-content;
}
.filter-tool .reset-btn-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter-tool #priceRangeInput{
    width: 100%;
}
.filter-tool #priceVariant{
    border: 1px solid var(--orange);
    border-radius: 5px;
    height: 25px;
    text-align: center;
    padding: 0 5px;
}
.filter-tool .reset-btn-sec .min-btn{
    background: var(--white);
    border: 1px solid var(--orange);
    border-radius: 3px;
    padding: 2px 10px;

}
.filter-tool #apply-btn{
    background: var(--orange);
    color: var(--white);
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 5px 20px;
    justify-self: flex-end;
    margin-top: 20px;
}
.filter-tool #apply-btn:hover{
    background: var(--hover-orange);
    transition: 0.3s;
}
.filter-tool .tool+.tool{
    border-top: 1px solid var(--light-grey);
    margin-top: 20px;
    padding-top: 20px;
}
.filter-tool .price-filter{
    display: none;
}
/*---------------------------------------------*/

/*-----------signup modal------------------*/

.sign-up-canvas{
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    /* border: 1px solid #A2A2A2; */
    backdrop-filter: blur(20px);
}

div.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.sign-up-body label {
    font-size: 13px;
    color: var(--orange);
    font-weight: 500;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 356px;
    height: 55px;
    background: rgba(243, 243, 243, 0.6);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    /* top: 17px; */
    right: 37px;
    color: var(--grey);

}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 176px;
    height: 45px;
    background: #fff;
    border-radius: 9px;
    position: absolute;
    left: 5px;
    top: 5px;
    /* text-align: center; */
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    /* background: var(--white); */
    color: var(--grey);
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 176px;
    background: var(--white);
    color: var(--orange);
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked~.alert {
    display: block;
}



.sign-up-canvas .top-nav{
    display: flex;
    justify-content: center;

}
.sign-up-canvas .top-nav img{
    width: 240px;
}
.offcanvas-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-canvas .offcanvas-body .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-body .step{
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.sign-up-body .step p{
    margin: 0px;
}
.sign-up-body .step img{
    width: 101px;
}

.sign-up-body {
    
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(50px);
    border: 0px solid black;
    border-radius: 15px;
    padding: 40px 50px;
    
}

.sign-up-body .feilds {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.t-feild {
    /* width: 356px; */
    height: 45px;
    padding: 0px 14px;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid #A2A2A2;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.con-btn{
    height: 45px;
    width: 100%;
    background: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 10px;
    color: var(--white);
    font-style: normal;
/* font-weight: 700; */
font-size: 16px;
}
.orange-text{
    color: var(--orange);
}
/*---------------------------------------------*/



/*-----------pagination part------------------*/
.hidden {
    display: none;
  }
  
  .pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: var(--hover-orange);
    color: var(--white);
  }
  
  .pagination-number.active {
    color: #fff;
    background: var(--orange);
  }
/*---------------------------------------------*/


/*--------single product page-------------------*/

.product-img img{
    width: 100%;
}
.shopper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.shopper .dr-tag{
    border-radius: 3px;
    background: var(--light-green);
    height: 25px;
    padding: 0 10px;
}
.product-price{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.pr-rate{
    margin-bottom: 20px;
}
.add-cart img{
    width: 40px;
    color: var(--white);
}
.add-cart{
    min-width: 70%;
    background: var(--orange);
    height: 74px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: var(--white);
}
.info-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/*---------------------------------------------*/


/*--------page header-------------------*/
.header .search-bar{
    width: 40%;
}
.header .cart img{
    width: 35px;
    margin-right: 10px;
}
.header .cart{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .cart:hover{
    background: var(--tab-orange);
    /* padding: 5px; */
    border-radius: 10px;
}
/*---------------------------------------------*/


/*--------shop profile-------------------*/
.shop-header{
    display: flex;
    flex-direction: column;
}
.shop-header #shop-banner{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
.shop-header #shop-dp{
    width: 300px;
    border: 5px solid var(--white);
    border-radius: 200px;
    position:absolute;
    left: 20vw;
    top: 40vh;
}
.shop-details {
    position: relative;
    left: 420px;
}
.shop-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.shop-info a{
    color: var(--orange);
    font-size: 20px;
    text-decoration: underline;
   
}
.shop-info a:hover{
    color: var(--hover-orange);
}
.shop-description #description{
    color: var(--grey);
    text-align: justify;
}

/*---------------------------------------------*/


/*--------Shopping cart canvas-------------------*/
.s-cart-canvas{
    width: 30vw;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.25);
border-radius: 30px 0px 0px 30px;
}
.s-cart-canvas .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: left; */
}
.s-cart-canvas .container .offcanvas-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.s-cart-canvas .container .product-table{
    background: #F4F4F4;
box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.1);
border-radius: 15px;
padding: 10px;
overflow-y: scroll;
max-width: 80vh;
height: 70vh;
}
.s-cart-canvas .container .product-table .product-card{
    background: #FFFFFF;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.s-cart-canvas .container .product-table .product-card+.product-card{
    margin-top: 10px;
}
.s-cart-canvas .container .product-table img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}
.s-cart-canvas .container .product-table .product-card .product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.s-cart-canvas .container .product-table .product-card .product-info h5{
    margin-bottom: 0px !important;
}
.s-cart-canvas .container .product-table .product-card .product-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.s-cart-canvas .container .product-table .product-card .counter{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F8F3F3;
border-radius: 3px;
padding: 4px;
gap: 20px;
   }
   .s-cart-canvas .container .product-table .product-card .btn{
    width: 30px;
    height: 30px;
    background: #EFEFEF;
border: 1px solid #FF9C00;
border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    cursor: pointer;
   }
   .s-cart-canvas .container .product-table .product-card .count{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
   }
   
   .s-cart-canvas .container .product-table .product-card #remove-item{
    color: var(--red);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0px !important;
   }
   .s-cart-canvas .container .total-order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
   .s-cart-canvas .container .total-order h6{
    color: var(--grey);
   }
   .s-cart-canvas .container #check-out{
    width: 100%;
   }